<div class="main">
  <bcp-navbar class="main__navbar" brand-name="NTLC">
    <bcp-menu slot="content-right">
      <bcp-menu-option
        [routerLink]="['/home']"
        routerLinkActive
        [selected]="rla.isActive"
        #rla="routerLinkActive"
      >
        Home
      </bcp-menu-option>
      <bcp-menu-option
        [routerLink]="['/about']"
        routerLinkActive
        [selected]="rla2.isActive"
        #rla2="routerLinkActive"
      >
        About
      </bcp-menu-option>
      <bcp-menu-option
        [routerLink]="['/clients']"
        routerLinkActive
        [selected]="rla3.isActive"
        #rla3="routerLinkActive"
      >
        Clients
      </bcp-menu-option>
    </bcp-menu>
  </bcp-navbar>

  <div class="main__body">
    <router-outlet></router-outlet>
  </div>

  <bcp-footer dark-theme="true" transparent="false">
    <bcp-footer-body domain-name="NTLC" number-brand="(01) 311-9898">
    </bcp-footer-body>
  </bcp-footer>
</div>
